# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Streamlit
.streamlit/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Distribution / packaging
dist/
build/
*.egg-info/

images/

.env
.env
__pycache__/
*.pyc
